body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace, -apple-system, BlinkMacSystemFont;
    color: #EDEDED;
    height: 100%;
    overflow: auto;
}

b {
    color: #F59E0B;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* #region NAVBAR */
.navbar-collapse {
    justify-content: end;
}

#navbar-logo {
    height: auto;
    width: 20%;
}

.navbar-text {
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.navbar {
    background: #1E1E1E;
}
/* #endregion NAVBAR */

/* #region HERO */
.hero-section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 20px;
    align-items: center;
}

#hero-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 50%;
}

#hero-image-wrapper {
    display: flex;
    flex: 0 0 50%; 
    justify-content: center;
    align-items: center;
}

#profile-img {
    border-radius: 40%;
    width: 60%;
    height: auto; /* matches height of #hero-info via stretch */
    aspect-ratio: 1 / 1;
}

#download-resume-btn {
    background: #F59E0B;
    color: #0F172A;
    border: none;
    outline: none;
    border-radius: 10px;
}

#download-resume-btn:hover {
    background: #D97706;
    color: #0F172A;
}

#social-media-header {
    text-align: start;
    margin: 20px 0;
}

#hero-greeting {
    font-size: 20px;
    margin: 10px 0;
}

#hero-name {
    font-size: 30px;
}
/* #endregion HERO */

/* #region SOCIAL MEDIA */
.social-link {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.social-icon {
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 5px;
    width: clamp(2rem, 2vw, 3rem);
    aspect-ratio: 1 / 1;
}
/* #endregion SOCIAL MEDIA */

/* #region ABOUT */
.about-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    margin: 50px 0;
}

.about-section > .col {
    flex: 1;
}

#utsa-logo {
    width: 30%;
    height: auto;
    padding: 10px 0;
}
/* #endregion ABOUT */

/* #region LANGUAGES */
.language-section {
    margin: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.language-icon {
    align-content: space-around;
    justify-content: center;
    padding: 1px 3px;
    margin: 10px 0;
}

.alice-carousel {
    text-align: center;
}
/* #endregion LANGUAGES */

/* #region PROJECTS */
.project-section {
    padding: 50px 0;
}

.project-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    padding: 15px;
    background: #1E1E1E;
}

.project-card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
}

.project-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-card-title {
   font-size: 1.2rem;
}

.project-card-link {
    display: inline-flex;
    gap: 5px;
}

.project-card-description {
    /* margin: 10px 0; */
}

.project-card-technologies {
  
}
/* #endregion PROJECTS */

/* #region FOOTER */
.footer-section {
    display: inline-flex !important;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    width: 100%;
    height: auto;
    padding: 3px 15px !important;
    background: #1E1E1E;
}

#footer-logo {
    width: 3%;
    height: auto;
    padding: 0 5px;
}
/* #endregion FOOTER */